:root {
	--color-blue: 33 150 243;
	--color-red: 238 9 9;
	--color-yellow: 255 243 0;
	--color-orange: 255 178 0;

	--hero-color: var(--color-blue);
	--ai-color: var(--color-red);
	--game-board: var(--color-yellow);
}

* {
	box-sizing: border-box;
}

.container {
	height: 100vh;
	width: 100vw;
	background-image: url("/img/Background.jpg");
	background-position: center;
	background-size: cover;
	display: grid;
	grid-template-rows: 100px 5fr 100px;
	align-items: center;
}

.header,
.footer {
	background-color: black;
	height: 100%;
	width: 100%;
}

.play-area {
	display: grid;
	grid-template-columns: min-content min-content 450px min-content min-content;
	height: 450px;
	justify-items: center;
	margin: auto;
	column-gap: 64px;
}

.players,
.ai {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.screen {
	aspect-ratio: 9 / 16;
	border-radius: 1rem;
	display: flex;
	overflow: hidden;
	position: relative;
	width: 250px;
	z-index: 10;
}

.screen.hero {
	background-color: rgb(var(--hero-color) / 15%);
	border: 3px solid rgb(var(--hero-color) / 80%);
}
.screen.opponent {
	background-color: rgb(var(--ai-color) / 15%);
	border: 3px solid rgb(var(--ai-color) / 80%);
}

.screen:after,
.screen:before {
	background-color: white;
	content: "";
	height: 5px;
	left: 50%;
	position: absolute;
	translate: -50% 0%;
	z-index: 4;
}

.screen:before {
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
	top: 0rem;
	width: 15%;
}

.screen:after {
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	bottom: 0rem;
	width: 25%;
}

@keyframes pan-overlay {
	from {
		background-position: 0% 0%;
	}

	to {
		background-position: 0% -100%;
	}
}

.screen-overlay {
	animation: pan-overlay 22s infinite linear;

	height: 100%;
	left: 0px;
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 2;
}

.screen.hero > .screen-overlay {
	background: linear-gradient(
		rgb(var(--hero-color) / 0.15),
		rgb(var(--hero-color) / 0.15) 3px,
		transparent 3px,
		transparent 9px
	);
	background-size: 100% 9px;
}

.screen.opponent > .screen-overlay {
	background: linear-gradient(
		rgb(var(--ai-color) / 0.15),
		rgb(var(--ai-color) / 0.15) 3px,
		transparent 3px,
		transparent 9px
	);
	background-size: 100% 9px;
}

.screen-image {
	background-position: center;
	background-size: cover;
	filter: sepia(100%) hue-rotate(160deg);
	height: 100%;
	left: 0px;
	opacity: 0.6;
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 1;
}

.hero .screen-image {
	background-image: url("/img/Hero_Byte.jpg");
}

.opponent .screen-image {
	background-image: url("/img/AI_Nexus5.jpg");
}

.screen-content {
	align-items: center;
	border-radius: 0.6rem;

	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap: 4rem;
	justify-content: flex-end;
	margin: 1rem;
	padding-bottom: 6rem;
	position: relative;
	z-index: 3;
}

.screen.hero > .screen-content {
	border: 1px solid rgb(var(--hero-color) / 50%);
}

.screen.opponent > .screen-content {
	border: 1px solid rgb(var(--ai-color) / 50%);
}

.screen-user {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	position: relative;
}

.screen-user:before,
.screen-user:after {
	border-radius: 1rem;
	content: "";
	position: absolute;
	top: 0px;
}

.screen.hero .screen-user:before,
.screen.hero .screen-user:after {
	background-color: rgb(var(--hero-color));
	box-shadow: 0px 0px 8px 3px rgb(var(--hero-color) / 60%);
}

.screen.opponent .screen-user:before,
.screen.opponent .screen-user:after {
	background-color: rgb(var(--ai-color));
	box-shadow: 0px 0px 8px 3px rgb(var(--ai-color) / 60%);
}

.screen.hero .screen-user:before {
	height: 2px;
	opacity: 0.75;
	translate: -20px -1rem;
	width: 50px;
}

.screen.hero .screen-user:after {
	height: 3px;
	translate: 26px calc(-1rem - 0.5px);
	width: 30px;
}
.screen.opponent .screen-user:before {
	height: 3px;
	translate: -20px -1rem;
	width: 30px;
}

.screen.opponent .screen-user:after {
	height: 2px;
	opacity: 0.75;
	translate: 26px calc(-1rem - 0.5px);
	width: 50px;
}

.name {
	font-size: 2.25rem;
	font-weight: 400;
	position: relative;
	color: white;
	font-family: "Source Code Pro", monospace;
	text-align: center;
	text-transform: uppercase;
}

.name:before,
.name:after {
	border-radius: 2px;
	border: 2px solid white;
	content: "";
	height: 4px;
	position: absolute;
	width: 4px;
}

.name:before {
	right: -1.5rem;
	top: 55%;
}

.name:after {
	left: -1.5rem;
	top: 45%;
}

/* GAME BOARD */
.board {
	width: 100%;
	height: 100%;
	box-shadow: 16px 14px 20px #0000008c;
	border: solid 3px rgb(var(--game-board) / 80%);
	border-radius: 1rem;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(0, 0, 0, 0.5);
	padding: 16px;
}

.grid {
	border: 1px solid rgb(var(--game-board) / 50%);
	display: grid;
	border-radius: 0.6rem;
	height: 100%;
	width: 100%;
	grid-template-columns: repeat(3, 1fr);
}

.play-cell {
	background-color: rgb(var(--game-board) / 10%);
	border: 1px solid rgb(var(--game-board) / 50%);
}

.tl {
	border-radius: 0.6rem 0 0 0;
}
.tr {
	border-radius: 0 0.6rem 0 0;
}
.bl {
	border-radius: 0 0 0 0.6rem;
}
.br {
	border-radius: 0 0 0.6rem 0;
}
