:root {
	--color-blue: #1effff;
	--color-dGreen: #008f11;
	--color-black: #000000;
	/* --background-rgb: 29 30 34; */
	--background-rgb: 0 0 0;

	--blue-rgb: 33 150 243;
	--dGreen-rgb: 0 143 17;
	--lGreen-rgb: 0 255 65;
	--primary-rgb: var(--lGreen-rgb);
}

* {
	box-sizing: border-box;
}

.container {
	background-color: black;
	height: 100vh;
	width: 100vw;
}

.header {
	height: 100px;
	background-color: #008f11;
}

.play-area {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}

.players,
.ai {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.screen {
	aspect-ratio: 9 / 16;
	background-color: rgb(var(--primary-rgb) / 15%);
	border-radius: 1rem;
	border: 3px solid rgb(var(--primary-rgb) / 80%);
	display: flex;
	overflow: hidden;
	position: relative;
	width: 250px;
	z-index: 10;
}

.screen:after,
.screen:before {
	background-color: white;
	content: "";
	height: 5px;
	left: 50%;
	position: absolute;
	translate: -50% 0%;
	z-index: 4;
}

.screen:before {
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
	top: 0rem;
	width: 15%;
}

.screen:after {
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	bottom: 0rem;
	width: 25%;
}

@keyframes pan-overlay {
	from {
		background-position: 0% 0%;
	}

	to {
		background-position: 0% -100%;
	}
}

.screen-overlay {
	animation: pan-overlay 22s infinite linear;
	background: linear-gradient(
		rgb(var(--primary-rgb) / 0.15),
		rgb(var(--primary-rgb) / 0.15) 3px,
		transparent 3px,
		transparent 9px
	);
	background-size: 100% 9px;
	height: 100%;
	left: 0px;
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 2;
}

.screen-image {
	background-image: url("https://images.unsplash.com/photo-1515266591878-f93e32bc5937?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2574&q=80");
	background-position: 0% 0%;
	background-size: 300%;
	filter: sepia(100%) hue-rotate(160deg);
	height: 100%;
	left: 0px;
	opacity: 0.6;
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 1;
}

.screen-content {
	align-items: center;
	border-radius: 0.6rem;
	border: 1px solid rgb(var(--primary-rgb) / 50%);
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap: 4rem;
	justify-content: flex-end;
	margin: 1rem;
	padding-bottom: 6rem;
	position: relative;
	z-index: 3;
}

.screen-user {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	position: relative;
}

.screen-user:before,
.screen-user:after {
	background-color: rgb(var(--primary-rgb));
	border-radius: 1rem;
	box-shadow: 0px 0px 8px 3px rgb(var(--primary-rgb) / 60%);
	content: "";
	position: absolute;
	top: 0px;
}

.screen-user:before {
	height: 2px;
	opacity: 0.75;
	translate: -20px -1rem;
	width: 50px;
}

.screen-user:after {
	height: 3px;
	translate: 26px calc(-1rem - 0.5px);
	width: 30px;
}

.name {
	font-size: 2.25rem;
	font-weight: 400;
	position: relative;
	color: white;
	font-family: "Source Code Pro", monospace;
	text-align: center;
	text-transform: uppercase;
}

.name:before,
.name:after {
	border-radius: 2px;
	border: 2px solid white;
	content: "";
	height: 4px;
	position: absolute;
	width: 4px;
}

.name:before {
	right: -1.5rem;
	top: 55%;
}

.name:after {
	left: -1.5rem;
	top: 45%;
}
