:root {
	--color-blue: 33 150 243;
	--color-red: 238 9 9;
	--color-yellow: 255 243 0;
	--color-orange: 255 178 0;

	--hero-color: var(--color-blue);
	--ai-color: var(--color-red);
	--game-board: var(--color-yellow);

	--yellow-color: #fcee09;
	--red-color: #ff003c;
	--black-color: #050a0e;
	--blue-color: #00f0ff;
}

* {
	box-sizing: border-box;
}

.container {
	height: 100vh;
	width: 100vw;
	background-image: url("/img/Background.jpg");
	background-position: center;
	background-size: cover;
	display: grid;
	grid-template-rows: 100px 5fr 100px;
	align-items: center;
}

.header,
.footer {
	background-color: black;
	height: 100%;
	width: 100%;
}

.options {
	height: 100%;
	width: 100%;
	display: none;
}

.play-area {
	display: grid;
	grid-template-columns: repeat(5, min-content);
	height: 450px;
	justify-items: center;
	margin: auto;
}

.players,
.ai {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.ai {
	display: none;
}

.screen {
	aspect-ratio: 9 / 16;
	border-radius: 1rem;
	display: flex;
	overflow: hidden;
	position: relative;
	width: 250px;
	z-index: 10;
}

.screen.hero {
	background-color: rgb(var(--hero-color) / 15%);
	border: 3px solid rgb(var(--hero-color) / 80%);
	margin-right: 64px;
}
.screen.opponent {
	background-color: rgb(var(--ai-color) / 15%);
	border: 3px solid rgb(var(--ai-color) / 80%);
	margin-left: 64px;
}

.screen:after,
.screen:before {
	background-color: white;
	content: "";
	height: 5px;
	left: 50%;
	position: absolute;
	translate: -50% 0%;
	z-index: 4;
}

.screen:before {
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
	top: 0rem;
	width: 15%;
}

.screen:after {
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	bottom: 0rem;
	width: 25%;
}

@keyframes pan-overlay {
	from {
		background-position: 0% 0%;
	}

	to {
		background-position: 0% -100%;
	}
}

.screen-overlay {
	animation: pan-overlay 22s infinite linear;

	height: 100%;
	left: 0px;
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 2;
}

.screen.hero > .screen-overlay {
	background: linear-gradient(
		rgb(var(--hero-color) / 0.15),
		rgb(var(--hero-color) / 0.15) 3px,
		transparent 3px,
		transparent 9px
	);
	background-size: 100% 9px;
}

.screen.opponent > .screen-overlay {
	background: linear-gradient(
		rgb(var(--ai-color) / 0.15),
		rgb(var(--ai-color) / 0.15) 3px,
		transparent 3px,
		transparent 9px
	);
	background-size: 100% 9px;
}

.screen-image {
	background-position: center;
	background-size: cover;
	filter: sepia(100%) hue-rotate(160deg);
	height: 100%;
	left: 0px;
	opacity: 0.6;
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 1;
}

.hero .screen-image {
	background-image: url("/img/Hero_Byte.jpg");
}

.opponent .screen-image {
	background-image: url("/img/AI_Nexus.jpg");
}

.screen-content {
	align-items: center;
	border-radius: 0.6rem;

	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap: 4rem;
	justify-content: flex-end;
	margin: 1rem;
	padding-bottom: 6rem;
	position: relative;
	z-index: 3;
}

.screen.hero > .screen-content {
	border: 1px solid rgb(var(--hero-color) / 50%);
}

.screen.opponent > .screen-content {
	border: 1px solid rgb(var(--ai-color) / 50%);
}

.screen-user {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	position: relative;
}

.screen-user:before,
.screen-user:after {
	border-radius: 1rem;
	content: "";
	position: absolute;
	top: 0px;
}

.screen.hero .screen-user:before,
.screen.hero .screen-user:after {
	background-color: rgb(var(--hero-color));
	box-shadow: 0px 0px 8px 3px rgb(var(--hero-color) / 60%);
}

.screen.opponent .screen-user:before,
.screen.opponent .screen-user:after {
	background-color: rgb(var(--ai-color));
	box-shadow: 0px 0px 8px 3px rgb(var(--ai-color) / 60%);
}

.screen.hero .screen-user:before {
	height: 2px;
	opacity: 0.75;
	translate: -20px -1rem;
	width: 50px;
}

.screen.hero .screen-user:after {
	height: 3px;
	translate: 26px calc(-1rem - 0.5px);
	width: 30px;
}
.screen.opponent .screen-user:before {
	height: 3px;
	translate: -20px -1rem;
	width: 30px;
}

.screen.opponent .screen-user:after {
	height: 2px;
	opacity: 0.75;
	translate: 26px calc(-1rem - 0.5px);
	width: 50px;
}

.name {
	font-size: 2.25rem;
	font-weight: 400;
	position: relative;
	color: white;
	font-family: "Orbitron", sans-serif;
	text-align: center;
	text-transform: uppercase;
}

.name:before,
.name:after {
	border-radius: 2px;
	border: 2px solid white;
	content: "";
	height: 4px;
	position: absolute;
	width: 4px;
}

.name:before {
	right: -1.5rem;
	top: 55%;
}

.name:after {
	left: -1.5rem;
	top: 45%;
}

/* BUTTONS */
.button-container {
	display: flex;
	align-items: center;
}

.players > .button-container {
	justify-content: right;
}

.button-container button {
	height: 50px;
	width: 150px;
}

.strip {
	height: 3px;
	width: 50px;
}

.players .strip {
	background-color: rgb(var(--hero-color) / 80%);
}

.ai .strip {
	background-color: rgb(var(--ai-color) / 80%);
}

.glitch-button {
	width: 230px;
	height: 60px;
	border: 0;
	outline: none;
	background-color: var(--black-color);
	cursor: pointer;
	position: relative;
	font-family: "Orbitron", sans-serif;
	font-size: 0.85rem;
	text-transform: uppercase;
	color: var(--black-color);
}

.players .glitch-button {
	clip-path: polygon(0% 0%, 0% 75%, 12% 100%, 100% 100%, 100% 100%, 100% 0);
}

.ai .glitch-button {
	clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 88% 100%, 0% 100%);
}

.glitch-button__content {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 2px;
	left: 2px;
	right: 2px;
	bottom: 2px;
	background-color: var(--yellow-color);
}

.players .glitch-button__content {
	clip-path: polygon(0% 0%, 0% 75%, 12% 100%, 100% 100%, 100% 100%, 100% 0);
}
.ai .glitch-button__content {
	clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 88% 100%, 0% 100%);
}

.glitch-button__label {
	height: 10px;
	font-size: 0.4rem;
	position: absolute;
	bottom: -4px;
	padding: 0 5px;
	background-color: var(--yellow-color);
	z-index: 3;
}

.players .glitch-button__label {
	right: 8%;
}

.ai .glitch-button__label {
	left: 8%;
}

.glitch-button__glitch {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--yellow-color);
	filter: drop-shadow(-2px 3px #67e3f3) drop-shadow(-1px -3px #02d8f3)
		drop-shadow(2px 1px #02d8f3);
}

.glitch-button--secondary .glitch-button__glitch {
	background-color: var(--red-color);
}

.glitch-button:hover .glitch-button__glitch,
.glitch-button:hover .glitch-button__content::after,
.glitch-button:focus .glitch-button__glitch,
.glitch-button:focus .glitch-button__content::after {
	display: block;
	animation: glitch-animation 2s linear 0s infinite;
}

@keyframes glitch-animation {
	0% {
		opacity: 1;
		transform: translateZ(0);
		clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
	}

	2% {
		clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
		transform: translate(-5px);
	}

	6% {
		clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
		transform: translate(5px);
	}

	8% {
		clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
		transform: translate(-5px);
	}

	9% {
		clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
		transform: translate(0);
	}

	10% {
		clip-path: polygon(0 54%, 100% 54%, 100% 44%, 0 44%);
		transform: translate3d(5px, 0, 0);
	}

	13% {
		clip-path: polygon(0 54%, 100% 54%, 100% 44%, 0 44%);
		transform: translateZ(0);
	}

	13.1% {
		clip-path: polygon(0 0, 0 0, 0 0, 0 0);
		transform: translate3d(5px, 0, 0);
	}

	15% {
		clip-path: polygon(0 60%, 100% 60%, 100% 40%, 0 40%);
		transform: translate3d(5px, 0, 0);
	}

	20% {
		clip-path: polygon(0 60%, 100% 60%, 100% 40%, 0 40%);
		transform: translate3d(-5px, 0, 0);
	}

	20.1% {
		clip-path: polygon(0 0, 0 0, 0 0, 0 0);
		transform: translate3d(5px, 0, 0);
	}

	25% {
		clip-path: polygon(0 85%, 100% 85%, 100% 40%, 0 40%);
		transform: translate3d(5px, 0, 0);
	}

	30% {
		clip-path: polygon(0 85%, 100% 85%, 100% 40%, 0 40%);
		transform: translate3d(-5px, 0, 0);
	}

	30.1% {
		clip-path: polygon(0 0, 0 0, 0 0, 0 0);
	}

	35% {
		clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
		transform: translate(-5px);
	}

	40% {
		clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
		transform: translate(5px);
	}

	45% {
		clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
		transform: translate(-5px);
	}

	50% {
		clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
		transform: translate(0);
	}

	55% {
		clip-path: polygon(0 10%, 100% 10%, 100% 0, 0 0);
		transform: translate3d(5px, 0, 0);
	}

	60% {
		clip-path: polygon(0 10%, 100% 10%, 100% 0, 0 0);
		transform: translateZ(0);
		opacity: 1;
	}

	60.1% {
		clip-path: polygon(0 0, 0 0, 0 0, 0 0);
		opacity: 1;
	}

	to {
		clip-path: polygon(0 0, 0 0, 0 0, 0 0);
		opacity: 1;
	}
}

/* GAME BOARD */
.board {
	width: 450px;
	height: 100%;
	box-shadow: 16px 14px 20px #0000008c;
	border: solid 3px rgb(var(--game-board) / 80%);
	border-radius: 1rem;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(0, 0, 0, 0.5);
	padding: 16px;
}

.grid {
	border: 1px solid rgb(var(--game-board) / 50%);
	display: grid;
	border-radius: 0.6rem;
	height: 100%;
	width: 100%;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.play-cell {
	background-color: rgb(var(--game-board) / 10%);
	border: 1px solid rgb(var(--game-board) / 50%);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 4.5rem;
	font-weight: 600;
}

.tl {
	border-radius: 0.6rem 0 0 0;
}
.filter-yellow {
	filter: invert(87%) sepia(99%) saturate(7499%) hue-rotate(349deg)
		brightness(100%) contrast(98%);
}

.tr {
	border-radius: 0 0.6rem 0 0;
}
.bl {
	border-radius: 0 0 0 0.6rem;
}
.br {
	border-radius: 0 0 0.6rem 0;
}
